// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'flag-icons/css/flag-icons.css';

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;

}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
color: #fff;
}
input:focus{
    background: #000;
    transform:scale(1.1);

}
.price input{
width: 20%;

}
#total{
    background-color: red;
    padding: 4px 2px;
    border-radius: 4px;

}
#total::before{
    content: "Total : ";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(168, 0, 173);
}
button:hover{
    background-color: rgb(195, 15, 201);
    letter-spacing: 1px;
}
.btnsearch{
    display:flex;
    justify-content: space-between;

}

.btnsearch button{
    width: 45%;

}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
th,td{
    padding: 5px;
}
#deleteall{
    margin: 20px 0;
}

